<html>
  <head>
    <h1>SMS Spam Detector</h1>
    <title>SMS Spam Detector</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form role="form" method='POST' action='/'>
        <div class="form-group">
          <textarea type="text" name="text" class="form-control" id="text-box" placeholder="Enter SMS..."
          cols="40" rows="5" autofocus required></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>

  <div class="col-sm-5 col-sm-offset-1">
          {% if label and confidence %}
            <h2>Results</h2>
            <div id="results">
              <table class="table table-striped" style="max-width: 300px;">
                <thead>
                  <tr>
                    <th>Label</th>
                    <th>Confidence</th>
                  </tr>
                </thead>

                  <tr>
                    <td>{{ label }}</td>
                    <td>{{ confidence }} %</td>
                  </tr>

              </table>
            </div>
          {% endif %}
        </div>
  </body>
</html>
